/*styles for my first API script*/

.authorclass{
	color: green;
}

.oneresult {
	background-color: #BCFFDC;
	width: 500px;
	margin-top: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Sans Serif;
}

.titleclass {
	color: blue;
}